* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

body{
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container{
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1{
  color: #3b82f6;
  margin-bottom: 1rem;
}

label{
  display: block;
  margin: 1rem 0 0.5rem;
}

input{
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #0f172a;
  border-radius: 8px;
  color: #f1f5f9;
  font-size: 1rem;
  box-shadow: inset 0 0 5px rgba(59, 130, 246, 0.3);
}

button{
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #3b82f6;
  color: #f1f5f9;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #60a5fa;
}

.result{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #60a5fa;
}